// ASSETS
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import './deliveboo';

// GLOBAL SETTINGS - HARD RESET
body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    line-height: 1.6;
}

a, a:hover{
    color: black;
    text-decoration: none;
}

.btn-deliveboo{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: whitesmoke;

    &:hover{
        border-color: var(--primary-color);
    }

    &:active{
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        transform: scale(1.1);
    }
}

.badge-category-search{
    background-color: var(--title-color);
    font-size: 95%;
    margin: 0px 5px 10px;
    color: #fff;

    &::before{
        content: '#';
    }
}

.badge-deliveboo-category{
    background-color: var(--primary-color);
    color: whitesmoke;
    margin: 0 5px;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #00CCBC #f1f1f1;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #00CCBC;
    border-radius: 10px;
  }
  

// TYPOGRAPHY
h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color:  var(--title-color);
    margin-bottom: 1rem;
}

h4{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color:  var(--title-color);
    margin-bottom: 1rem;
}

ul {
    margin: 0;
    // padding: 0;
    list-style-type: none;
}